.wpcf7-form {
	margin: auto;
}

.wp-block-contact-form-7-contact-form-selector {
	max-width: 900px;
	margin: auto;
}

.wpcf7-form textarea,
.wpcf7-form input {
	font-size: 1.2rem;
}

textarea.wpcf7-form-control,
input.wpcf7-form-control {
	padding: 0.5rem;
	width: 100%;
	border: 1px solid;
}


input[type='submit'].wpcf7-form-control {
	font-family: $main-font;
	font-size: 16px;
	text-transform: uppercase;
	font-weight: 300;
	color: white;
	display: block;
	max-width: 400px;
	margin: 1rem auto;
	/* 13 solo porque el texto tiene un alto de 18 */
	padding: 13px 30px;
	text-align: center;
	background-color: $cta-color-base;
	border: 2px solid $cta-color-base;
	border-radius: $cta-border-radius;
}

input[type='submit'].wpcf7-form-control:hover {
	background-color: $cta-color-hover;
	border-color: $cta-color-hover;
	cursor: pointer;
}


/* Formulario parsonalizado */
.form-field {
	padding: 5px 0;
}


@media screen and (min-width : 1024px) {
	.form-field.dates {
		display: flex;
	}

	.form-field-date {
		flex-grow: 1;
	}

	div.form-field-date:first-child {
		margin-right: 0.5rem;
	}

	div.form-field-date:last-child {
		margin-left: 0.5rem;
	}

}
