/* Servicios */
.servicios {
	display: flex;
}

.servicios.wp-block-buttons>.wp-block-button,
.servicios.wp-block-buttons>.wp-block-button:last-child {
	margin: 1rem 0;
}


.servicios div.wp-block-button {
	width: 100%;
	font-size: 1.6rem;
	padding: 0;
}

.servicios div.wp-block-button a {
	width: 100%;
	margin: auto;
	padding: 2rem 0;
	font-weight: 300;
}


@media screen and (min-width : 1024px) {
	.servicios div.wp-block-button {
		width: 30%;
	}

	.servicios.wp-block-buttons>.wp-block-button {
		margin: 0 1rem 0 0;
	}
	.servicios.wp-block-buttons>.wp-block-button:last-child {
		margin: 0;
	}

}
