// Fonts
$title-font: 'Aldo', sans-serif;
$main-font: Roboto, Helvetica, Arial, sans-serif;

// Colors
$base-color: #ffffff;
/* Texto en general */
/* #25292a #46707f */
$base-color-dark: #393838;

$primary-color: #393838; /* #a6dcf4 */
/* #03a9f4 $primary-color-dark */
$primary-color-dark: #171717;
$primary-color-opposite: #CECFCF; /* #026e9f */

$cta-color-base: #171717;
$cta-color-hover: #393939;
$cta-border-radius: 1rem;

$secondary-color: #ffffff;
$secondary-color-dark: #ffffff;
$secondary-color-opposite: #ffffff;
